h1{
    color: whitesmoke;
    text-align: center;
    font-size: larger;
    background-color: rgb(19, 45, 212);    
}
table{
    border-style: double;
    border-width: 5;
    border-radius: 25%;
    text-align: center;
}
body{
    background-color:rgb(101, 102, 166) ;
}
